<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212261496557-geujafoaooh0fqamocbk4m0ieb93jud1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212261496557-geujafoaooh0fqamocbk4m0ieb93jud1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212261496557-ij30bbcl1oim549llmqcvf6q0onql6sc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU-fyxGzKnq469T5fUjneuBwYUUJxHv2o</string>
	<key>GCM_SENDER_ID</key>
	<string>212261496557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ildevesh.farmfresh</string>
	<key>PROJECT_ID</key>
	<string>farmfresh-ildevesh</string>
	<key>STORAGE_BUCKET</key>
	<string>farmfresh-ildevesh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212261496557:ios:570e8b220659b90345cee4</string>
</dict>
</plist>